<div id="announcements-page">
	<div id="loading-announcements" class="loading-page" ng-if="!finishedLoadingAnnouncements">
		Loading blog posts...<br /><img src="./assets/spinning-fish.gif" alt="loading, please wait" />
	</div>
	<div id="announcements" ng-if="finishedLoadingAnnouncements">
		<div class="blog-post-snippet" ng-repeat="item in blog.items">
			<a href="{{item.url}}" target="_blank" title="Visit blog post: {{item.title}}">
				<div class="post-header">
					<div class="post-date">{{ item.updated | date:'mediumDate' }}</div>
					<div class="post-title">{{item.title}}</div>
				</div>
			</a>
			<div class="post-content" ng-bind-html="item.content"></div>
		</div>
		<div id="blog-nav-box">
			<span id="prev-link" ng-if="blog.prevPageToken"><a ng-click="swapPage(blog.prevPageToken, 'prev')" href title="Return to latest posts"><span class="left-arrow"></span> Back to Top</a>  |  </span> 
			<span id="next-link" ng-if="blog.nextPageToken"><a ng-click="swapPage(blog.nextPageToken, 'next')" href title="Next Blog Posts">Older Posts <span class="right-arrow"></span></a></span>
		</div>
	</div>
</div>