<ul id="archive-menu">
	<li class="ng-class: {selected: archType=='photography'}"><a href="#/archive/photography" alt="Photography">Photography</a></li>
	<li class="ng-class: {selected: archType=='art'}"><a href="#/archive/art" alt="Art">Art</a></li>
	<li class="ng-class: {selected: archType=='document'}"><a href="#/archive/document" alt="Document">Document</a></li>
	<li class="ng-class: {selected: archType=='lecture'}"><a href="#/archive/lecture" alt="Lecture">Lecture</a></li>
</ul>

<div id="archive-detail">
	<!-- <div id="nav-back">
		<a href="#/archive" title="Browse Archive"><span id="back-arrow"></span>Back to Archive</a>
	</div> -->
	<div id="left-side">
		<div id="image-main">
			<div id="item-image" ng-if="item.image">
				<div id="image-toolbox"><span ng-click="expand()" id="expand" class="ng-class:{expanded: expanded}">Expand</span> <span id="next-image" ng-click="nextImage()">Next Image</span></div>
				<div ng-bind-html="item.image">Loading image... </div>
			</div>
			<div id="no-file-box" ng-if="item.no_file" ng-bind-html="item.no_file"></div>
		</div>
		<div id="loading-similar-content" ng-if="!finishedLoadingSimilarContent">Loading Similar Archive Content...</div>
		<div class="clearfix"></div>
		<div id="similar-content" ng-if="finishedLoadingSimilarContent">
			<ul>
				<li id="similar-content-title">Also in the Archive</li>
				<li ng-repeat="i in similarArchiveItems">
					<div ng-bind-html="i.similarArchiveItem"></div>
				</li>
			</ul>
		</div>
	</div>
	<div id="right-side">
		<div id="content-detail">
			<h2>{{item.title}}</h2>
			<div ng-bind-html="item.description"></div>
		</div>
		<div id="other-class" ng-if="otherClass.length > 0">
			Other Lectures in this Series
			<ul>
				<li ng-repeat="c in otherClass">
					<a href="#/archive/{{c.archive_type}}/{{c.slug}}" title="{{c.title}} ({{c.archive_type}})">{{c.title}}</a>
				</li>
		</div>
		<div id="biography-box" ng-if="atThisTime.length > 0">
			<span class="title">At this time</span> 
			<ul>
				<li ng-repeat="t in atThisTime">
					<h4>{{t.title}}, {{t.date | date: 'yyyy'}}</h4>
					<div ng-bind-html="t.lifeline_snippet"></div>
				</li>
			</ul>
			<a href="#/biography">View more in the Timeline.</a>
		</div>
		<div id="published-in" ng-if="item.published_in">
			<div ng-if="finishedLoadingPublishedIn">
		    <span class="title">Published In</span>
		    <ul>
		      <li ng-repeat="p in formattedPublishedIn">
		      	<a href="#/works/{{p.type}}/{{p.slug}}" title="{{p.name}}">
		      		<div class="published-in-image-box" ng-bind-html="p.publishedInImage"></div>
		      		<br />
		      		{{p.name}}
		      	</a>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
</div>