<div id="biographical">
  <div id="timeline">
    <div id="timeline-box">
      <div ng-if="!finishedLoadingTimeline">Loading Timeline, please wait.</div>
      <div ng-if="finishedLoadingTimeline">
        <div id="timeline-header">
          <h2>Life Events / Chronology</h2>
          <ul id="timeline-master-list">
            <li ng-repeat="(title, list) in timeline" id="{{title}}" ng-click="selectDecade(title)" class="decade-item" ng-class="{'active': title == selected}">{{title}}s</li>
          </ul>
        </div>
        <div id="timeline-menu">
          <h4
            ng-if="selected.length > 0">{{selected}}s</h4>
          <ul class="item-list">
            <li ng-repeat="item in timeline[selected]" class="timeline-item-li" data-item="{{item.id}}">
              <a href ng-click="updateItem(item)">
                <span class="timeline-title">{{item.title}}</span>
                <span class="timeline-date">({{item.date | date:'mediumDate'}})</span>
              </a>
            </li>
          </ul>
        </div>
        <div id="timeline-body">
          <h4 id="timeline-title">{{currentItem.title}}</h4>
          <div id="timeline-image" ng-bind-html='currentItem.image'></div>
          <div id="timeline-date">{{currentItem.date | date: "mediumDate" }}</div>
          <div id="lifeline-snippet" ng-bind-html='currentItem.lifeline_snippet'></div>
          <div id="in-his-words">{{ currentItem.chronological_addenda_snippet || "" }}</div>
        </div>
      </div>
    </div>
  </div>
  <h3>Biography by Michael Schumacher</h3>
  <div id="bio-by-michael" ng-bind-html='bioByMichael'></div>
</div>
