<ul id="works-menu">
	<li class="ng-class: {selected: workType=='book'}"><a href="#/works/book" alt="Books">Books</a></li>
	<li class="ng-class: {selected: workType=='audio-recording'}"><a href="#/works/audio-recording" alt="Audio/Discography">Audio/Discography</a></li>
	<li class="ng-class: {selected: workType=='film'}"><a href="#/works/film" alt="Film">Film</a></li>
</ul>

<div ng-if="!work[workType]">
  Loading Published Works ({{workType}})...
  <img src="./assets/spinning-fish.png" alt="loading, please wait" />
</div>	
<div id="works-index" ng-if="work[workType]">
  <img src="./assets/spinning-fish.png" alt="loading, please wait" />
	<ul>
    <li class="work-item" ng-repeat="item in work[workType]">
      <a class="work-link" href="#/works/{{workType}}/{{item.slug}}" alt="{{item.name}}">
        <div class="work-item-box">
          <div class="work-image-box">
            <img src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url={{item.original_image}}&container=focus&resize_w=250&refresh=2592000" alt='{{item.name}}'/>
          </div>
          <div class="work-item-name">{{item.name}}</div>
          <div class="work-publisher">{{item.publisher}}<br />{{item.date | date: mediumDate }}</div>
        </div>
      </a>
    </li>
  </ul>
</div>
