<ul id="works-menu">
	<li class="ng-class: {selected: workType=='book'}"><a href="#/works/book" alt="Books">Books</a></li>
	<li class="ng-class: {selected: workType=='audio-recording'}"><a href="#/works/audio-recording" alt="Audio/Discography">Audio/Discography</a></li>
	<li class="ng-class: {selected: workType=='film'}"><a href="#/works/film" alt="Film">Film</a></li>
</ul>

<div class="loading-page" ng-if="!work[workType]">
  Loading Works ({{workType}})...<br /><img src="./assets/spinning-fish.gif" alt="loading, please wait" />
</div>	
<div id="works-index" ng-if="work[workType]">
	<ul>
    <li class="work-item" ng-repeat="item in work[workType]">
      <a class="work-link" href="#/works/{{workType}}/{{item.slug}}" alt="{{item.name}}">
        <div class="work-item-box">
          <div class="work-image-box" ng-bind-html="item.image"></div>
          <div class="work-item-name">{{item.name}}</div>
          <div class="work-publisher">{{item.publisher}}<br />{{item.date | date: mediumDate }}</div>
        </div>
      </a>
    </li>
  </ul>
</div>
