<ul id="works-menu">
  <li class="ng-class: {selected: workType=='book'}"><a href="#/works/book" alt="Books">Books</a></li>
  <li class="ng-class: {selected: workType=='audio-recording'}"><a href="#/works/audio-recording" alt="Audio/Discography">Audio/Discography</a></li>
  <li class="ng-class: {selected: workType=='film'}"><a href="#/works/film" alt="Film">Film</a></li>
</ul>
	
<div id="works-detail">
  <div id="works-detail-main">
    <div id="works-detail-img" ng-bind-html="work[workId].image"></div>
    <h2>{{work[workId].name}}</h2>
    <div class="work-detail-purchase"><a href="{{work[workId].amazon_slash_itunes_url}}" target="_blank" title="Purchase"><span id="amazon-sprite"></span>PURCHASE</a></div>
    <div class="work-detail-publisher">{{work[workId].publisher}}</div>
    <div class="work-detail-date">{{work[workId].date | date: mediumDate }}</div>
    <div ng-bind-html='work[workId].description'></div>
    <div id="items-in-archive" ng-if="formattedItemsInArchive.length > 0">
      <ul>
        <li id="items-in-archive-text">Items In Archive</li>
        <li ng-repeat="item in formattedItemsInArchive">
          <a href="#/archive/{{item.archive_type}}/{{item.slug}}" title="{{item.title}} ({{item.archive_type}})"><img src="http://allen-ginsberg-org.herokuapp.com{{item.image}}" alt="{{item.title}} ({{item.archive_type}})" /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="loading-similar" ng-if="!finishedLoadingSimilarWorks">Finding similar published works...</div>
  <div id="works-detail-sidebar" ng-if="finishedLoadingSimilarWorks">
    <div id="similar-work">
      <ul>
        <li id="similar-work-text">Similar Work:</li>
        <li ng-repeat="s in similarWorks">
          <div ng-bind-html='s.link'></div>
        </li>
      </ul>
    </div> 
  </div>
</div>
